@import "~bootstrap/scss/bootstrap";
body {
  background: linear-gradient(249deg, #aac0ff 0%, #8c6bae 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  box-sizing: border-box;

  margin: 0 auto;

  overflow-x: hidden;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
}
.WeatherData {
  display: flex;

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
}
p,
h1,
span {
  margin: 0;
}
